@import "./theme.css";
@import "./fonts.css";

/* Support */
.support {
    display: none;
}

/* Body */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "IBMPlexMono";
}

/* Text */

h1, h2, h3 {
    color: var(--main-color);
    margin-top: 0em;
    margin-bottom: 0.3em;
    /*border: dashed 3px red;*/
}

h3 {
    padding-inline: 0.5em;
}

h2 {
    padding-inline: 0.6em;
}

h1 {
    padding-inline: 0.7em;
}

h1.title {
    padding-top: 0.2em;
    margin-bottom: 0;
    font-size: 4em;
}

p.description {
    color: var(--sub-color);
    padding-inline: 0.4em;
}

label {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

/* Layouts */

div.header {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background-color: var(--sub-alt-color);
    border-radius: 1em;
    padding: 0.1em;
}

div.title {
    display: flex;
}

div.article {
    border: 0.3em dashed var(--sub-alt-color);
    border-radius: 1em;
    padding: 0.5em;
    /*width: 30%;                                           /* TEEEEEEEEEEEEEEEMP */
    
    /*-webkit-user-select: none;*/
}

div.section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

/* Inputs */

/* Button */

input[type=button] {
    border: none;
    border-radius: 0.6em;
    padding: 0.6em;
    height: 2.8em;
    font-family: "IBMPlexMono";

    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;

    background-color: var(--sub-alt-color);
    color: var(--text-color);

    &.active {
        background-color: var(--main-color);
        color: var(--bg-color);
    }

    &:hover {
        background-color: var(--text-color);
        color: var(--bg-color);
    }

    &:active {
        background-color: var(--sub-color);
        box-shadow: 0 0 0 0.15em var(--text-color);
        color: var(--sub-alt-color);
    }
}


/* Radio */
input[type=radio] {
    appearance: none;
    background-color: var(--sub-alt-color);
    width: 1.2em;
    height: 1.2em;
    border: 0.2em solid var(--sub-color);
    border-radius: 50%;
    transform: translateY(-0.1em);
    
    display: inline-grid;
    place-content: center;
    transition: transform 0.1s ease-in-out, border-color 0.1s ease-in-out;

    &:before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        border-radius: 50%;
        background-color: var(--main-color);
        transform: scale(0);
    }   
    
    &:hover {
        border: 0.2em solid var(--text-color);
    }
    
    
    &:checked:before {
        transform: scale(1);
    }
    
}


/* Range */

/* Range */

input[type=range] {
    appearance: none;
    background-color: transparent;
    margin: 0.3em;

    transition: border-color 0.1s ease-in-out, outline-color 0.1s ease-in-out;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
    
        height: 1.3em;
        width: 1.3em;
        border-radius: 50%;
        
        border: 0.2em solid var(--sub-alt-color);
        background-color: var(--sub-color);
        transition: background-color 0.1s ease-in-out;
        /*margin-top: -0.1em;*/
    }
    
    &::-webkit-slider-runnable-track {
        height: 1.3em;
        width: 1em;
        
        outline: 0.2em solid var(--sub-color);
        background-color: var(--sub-alt-color);
        
        border-radius: 1em;
        margin-inline: 0.2em;
        transition: outline-color 0.1s ease-in-out;
    }
    
    &:hover::-webkit-slider-runnable-track {
        outline-color: var(--text-color);
    }
    
    &:hover::-webkit-slider-thumb {
        background-color: var(--text-color);
    }
    
    &:active::-webkit-slider-thumb {
        background-color: var(--main-color);
    }
}

/* canvas */

canvas {
    margin: 0.5em;
    border: 0.2em dashed var(--sub-color);
    border-radius: 0.6em;
}

canvas:active {
    cursor: none;
}

canvas#logoCanvas {
    border: none;
}



