@import "./theme.css";
@import "./fonts.css";
@import "./layout.css";
@import "./base.css";


/* Support */
.support {
    display: none;
}

/* Body */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "IBMPlexMono";
}
/* canvas */

canvas {
    margin: 0.5em;
    border: 0.2em dashed var(--sub-color);
    border-radius: 0.6em;

    display: flex;
    flex-direction: row;
    flex: 1;
    resize: horizontal;
}

canvas:active {
    cursor: none;
}

canvas#logoCanvas {
    border: none;

    width: 200px;
    height: 100px;

    display: block;
    size: initial;
    flex: 0;
    resize: none;
}

canvas#mainCanvas {
    flex:3;

    width: 1200px;
    height: 650px;
    display: block;
    size: initial;
    flex: 3;
    resize: none;
}